In [30]:
import pandas as pd

In [31]:
P9855_clusters_Seurat = pd.read_csv('/Users/johard/Documents/mgatk_for_mtSCITE_ms/output/P9855_clusters.txt', sep='\t')
P9855_clusters_Seurat['cell_id'] = P9855_clusters_Seurat['cell_id'].str.split('_S').str[0]
P9855_clusters_Seurat

       cell_id  cluster_id
1   P9855_2090           0
2   P9855_2096           0
3   P9855_2111           0
4   P9855_2110           0
5   P9855_2112           0
6   P9855_2091           0
7   P9855_2101           0
8   P9855_2104           1
9   P9855_2089           1
10  P9855_2093           1
11  P9855_2085           1
12  P9855_2102           1

In [32]:
data = [['E', 's1', 'P9855_2085', 'ss1'],
        ['A', 's2', 'P9855_2089', 'ss2'],
        ['A', 's3', 'P9855_2090', 'ss3'],
        ['D', 's4', 'P9855_2091', 'ss4'],
        ['E', 's5', 'P9855_2093', 'ss5'],
        ['D', 's6', 'P9855_2096', 'ss6'],
        ['F', 's7', 'P9855_2101', 'ss7'],
        ['F', 's8', 'P9855_2102', 'ss8'],
        ['B', 's9', 'P9855_2104', 'ss9'],
        ['C', 's10', 'P9855_2110', 'ss10'],
        ['C', 's11', 'P9855_2111', 'ss11'],
        ['B', 's12', 'P9855_2112', 'ss12']]

clones_map = pd.DataFrame(data, columns=['clone', 'tree_id', 'cell_id', 'node_name'])

clones_map

   clone tree_id     cell_id node_name
0      E      s1  P9855_2085       ss1
1      A      s2  P9855_2089       ss2
2      A      s3  P9855_2090       ss3
3      D      s4  P9855_2091       ss4
4      E      s5  P9855_2093       ss5
5      D      s6  P9855_2096       ss6
6      F      s7  P9855_2101       ss7
7      F      s8  P9855_2102       ss8
8      B      s9  P9855_2104       ss9
9      C     s10  P9855_2110      ss10
10     C     s11  P9855_2111      ss11
11     B     s12  P9855_2112      ss12

In [33]:
#clones_map['cell_id'] = clones_map['cell_id'].str.split('_S').str[0]
#clones_map

In [34]:
merged_df = pd.merge(clones_map[['clone', 'cell_id']], P9855_clusters_Seurat[['cell_id', 'cluster_id']], on='cell_id', how='inner')
grouped_counts = merged_df.groupby('cluster_id')['clone'].value_counts()
max_counts = grouped_counts.groupby(level='cluster_id').max()
total_counts = grouped_counts.groupby(level='cluster_id').sum()
proportions = max_counts / total_counts
average_proportion = proportions.mean()
average_proportion

0.34285714285714286